<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">FRIL</h1>
      <hr class="my-4">
      <p class="lead">Fondo Regional de Iniciativa Local</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Cartera de proyectos FRIL</h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-footer">
          <%= link_to 'Leer más', projects_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>FRIL Cloud</h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary">Leer más</button>
        </div>
      </div>
    </div>
  </div>
</div>
